.contactUsDiv img{
    height: 92vh;
}
.contactUsDiv{
    display: flex;
    
}
.contactusInputBox{
    border: hidden;
    border-bottom: 2px solid black;
    height: 35px;
    width: 450px;
    margin-bottom: 39px;
    background-color: #3D71BD;
}
.contactUsForm{
    background-color: #3D71BD;
    color: white;
    padding-top: 55px;
    padding-left: 80px;
}
.contactUsForm p{
    font-size: 18px;
    width: 344px;
}
.contactUsForm h3{
    font-size: 35px;
}
.contactUsButtonInContactUsForm{
    color: #3D71BD;
    height: 45px;
    width: 445px;
    border-radius: 10px;
}